<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	
	<bean id="mockUserDao" class="org.easymock.EasyMock" factory-method="createMock">
	    <constructor-arg index="0" value="com.ibm.dst.restservice.service.user.dao.UserDao"/>
	</bean>
	
	<bean id="userServiceTest" class="com.ibm.dst.restservice.service.user.service.impl.UserServiceImpl" autowire="byType"/>
	
</beans>